.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  margin-left: 5rem;
  margin-right: 1rem;
  width: 40px !important;
}

.navbar-brand {
  font-size: 2rem !important;
  color: darkblue !important;
}

.loginContainer {
  width: 50% !important;
  margin-top: 10rem;
}

.getStarted {
  margin-bottom: 2rem !important;
  color: darkblue !important;
}

.loginSection {
  background-color: cornflowerblue;
  height: 100vh;
}

.signsBox {
  width: 60rem;
  height: 30rem;
  border: 2px solid darkblue;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.translate {
  width: 50% !important;
  margin-top: 5rem;
}

.imgSings {
  width: 50px;
  margin-top: 2rem;
}

.spaceBetweenWords {
  margin-right: 2em;
}

.navLogged {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  height: 60px;
}

.brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.userLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  width: 200px;
}

.iconUser {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.links {
  text-decoration: none;
  color: darkblue;
  font-size: 18px;
}

.title {
  color: darkblue;
  text-decoration: none;
  font-size: 25px;
}

.translatePage {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.translationSection {
  background-color: cornflowerblue;
  height: 100vh;
}

.profileSection {
  background-color: cornflowerblue;
  height: 100vh;
}

.boxButton {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  margin-top: 3rem;
}
.wordsBox {
  border: 2px solid darkblue;
  border-radius: 10px;
  width: 40rem;
  height: 36rem;
  margin-right: 2rem;
}

.wordsList {
  list-style: none;
  margin-top: 1rem;
}

.translationTitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.buttonBacktoTranslate {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.btn-danger {
  margin-bottom: 5rem !important;
  margin-top: 5rem !important;
}

.backToTranslation {
  color: darkblue;
}
